/*

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif; 
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}

.container span{
    font-size: 6em;
    font-weight: bold;
    color: #000;
    opacity: 0;
    animation: drop 0.4s linear forwards;
}

.container span:nth-child(2){
    animation-delay: 0.2s;
}

.container span:nth-child(3){
    animation-delay: 0.4s;
}
.container span:nth-child(4){
    animation-delay: 0.6s;
}

@keyframes drop{
    0%{
        transform: translateY(-200px) scaleY(0.9);
    }
    5%{
        opacity: 0.7;
    }
    50%{
        transform: translatey(0px) scaleY(1);
        opacity: 1;
    }
    65%{
        transform: translateY(-17px) scaleY(0.9);
    }
    75%{
        transform: translateY(-22px) scaleY(.9);
    }
    100%{
        transform: translateY(0px) scaleY(1);
        opacity: 1;
    }
}

*/
/*
.path-animation {
  stroke: #000;
  stroke-width: 2;
  fill: transparent;

  stroke-linecap: round;
  stroke-linejoin: round;

  stroke-dasharray: var(--path-length);
  stroke-dashoffset: var(--path-length);

  transition: fill 0.4s ease;
}

.path-animation.draw {
  animation: draw-line var(--duration) ease forwards;
}

.path-animation.filled {
  fill: #000;
}

@keyframes draw-line {
  to {
    stroke-dashoffset: 0;
  }
}
*/


