:root {
    --text-color: #373636;
    --tools-background: #fff7cb;
    --grid-size: 1.875rem;
    --grid-color: rgba(12, 11, 11, 0.05)
}
html.modal-open,
body.modal-open {
  overflow: hidden;
}


h5 {
    font-family: "caveat brush", cursive;
    text-transform: uppercase;
    line-height: var(--grid-size);
}

.modal-window-container::-webkit-scrollbar {
  width: 6px;
}

.modal-window-container::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.3);
  border-radius: 10px;
}

.modal-window-wrapper.hidden {
    pointer-events: none;
    opacity: 0;
}

.modal-window-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.4s ease;
    z-index: 1000;
}

.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.45);
    backdrop-filter: blur(10px);
}

.modal-window-container{
    width: 90%;
    height: 95%;
    background-color: #fbfbfb;
    background-image:
        linear-gradient(
        to right,
        var(--grid-color) 1px,
        transparent 1px
        ),
        linear-gradient(
        to bottom,
        var(--grid-color) 1px,
        transparent 1px
        );
    background-size: var(--grid-size) var(--grid-size);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: calc(2*var(--grid-size));
    overflow: hidden auto;
    display: grid;
    gap: var(--grid-size);
    line-height: var(--grid-size);
    z-index: 1001;
    position: relative;
}

.modal-window-content {
    background-attachment: local;
    display: grid;
    grid-template-columns: .75fr 1.25fr;
    grid-template-rows: calc(4*var(--grid-size)) auto;
    gap: calc(2*var(--grid-size));
    height: 100%;
}

.close-modal {
    position: absolute;
    top: var(--grid-size);
    left: var(--grid-size);
    width: calc(2*var(--grid-size));
    height: calc(2*var(--grid-size));
    border: 3.5px solid black;
    border-radius: 255px 35px 125px 35px/35px 125px 35px 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}

.close-modal svg {
    width: var(--grid-size);
    height: var(--grid-size);
    stroke-width: 10px;
    stroke: #000;
    transform: translateY(5px);
    transition: all .3s ease;
}

.close-modal:hover {
    opacity: 0.75;
    cursor: pointer;
}

.close-modal:hover svg {
    transform: translate(-5px, 5px);
}

.project-header {
    grid-column: 2 / span 1;
    grid-row: 1;
    min-height: calc(4*var(--grid-size));
    transform: translate(-2px, calc(-1*var(--grid-size)));
    display:flex;
    flex-direction: column;
}

#project-type {
    align-self: flex-end;
    font-size: .65rem;
    color: var(--text-color);
    padding: 0 calc(.5*var(--grid-size));
    border: 1.5px solid black;
    border-radius: 255px 35px 125px 35px/35px 125px 35px 85px;
    height: var(--grid-size);
    margin-bottom: var(--grid-size);
}

.project-title {
    display: flex;
    flex-direction: column;
}

.project-name {
    display: flex;
    min-height: calc(2*var(--grid-size));
    border-bottom: solid 2px var(--text-color);
    padding: 0 0 2px calc(.25*var(--grid-size));
}
.project-title h2 {
    align-self: flex-end;
    text-transform: uppercase;
    letter-spacing: .6rem;
    font-size: 2rem;
}

.class-name {
    min-height: var(--grid-size);
    display: flex;
    padding: 0 calc(.25*var(--grid-size));
}

#class-name {
    font-size: .8rem;
    font-weight: 300;
    color: var(--text-color);
    align-self: flex-end;
    position: relative;
    top: .5rem;
    margin-bottom: var(--grid-size);
}

.modal-img-container {
    grid-column: 1;
    grid-row: 1 / span 2;
    transform: translateY(calc(2*(var(--grid-size))));
    display: flex;
    flex-direction: column;
    gap: var(--grid-size);
}

.modal-img-wrapper {
    height: calc(
    round(50vh / var(--grid-size)) * var(--grid-size)
  );    
  padding: 0;
}

.modal-img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border:solid 3px rgba(0, 0, 0, 1);
   border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.below-img-content {
    display: flex;
    gap: var(--grid-size);
}

.below-img-content div{
    font-size: .8rem;
    width: 100%;
    height: var(--grid-size);
    border:solid 2.5px rgba(0, 0, 0, 1);
    border-radius: 255px 35px 125px 35px/35px 125px 35px 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-description {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    padding: 0 calc(.25*var(--grid-size));
    margin-top: calc(1*var(--grid-size));
}

.project-description p {
    align-items: flex-end;
    transform: translateY(.5rem);
}

.tools {
    grid-column: 1;
    grid-row: 3;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: var(--grid-size);
    transform: translateY(.15rem);
    background-color: var(--tools-background);
    box-shadow: 3.0px 6.1px 6.1px hsl(0deg 0% 0% / 0.41);
    transform: rotate(2deg);
    color: var(--text-color);
    z-index: 10002
}
.tools-title {
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    background-color: rgba(228, 150, 86, 0.02);

}
.tools h4 {
    font-weight: 400;
    text-align: center;
    letter-spacing: 1ch;
    margin-bottom: calc(.25*var(--grid-size));
    padding: calc(.25*var(--grid-size)) calc(2*var(--grid-size));
}

.tools ul {
    transform: translate(calc(.55*var(--grid-size)));
    padding: calc(.25*var(--grid-size)) calc(2*var(--grid-size))
            calc(2*var(--grid-size)) calc(2*var(--grid-size));
    list-style: none;
    text-transform: lowercase;
}

.links {
    grid-column: 2;
    grid-row: 3;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--grid-size);
    align-items: flex-end;
    padding: calc(.25*var(--grid-size));
}

.links div {
    font-size: 1rem;
    height: var(--grid-size);
    transform: translateY(-.3em);
    display: flex;
    gap: var(--grid-size);
    border: 1.5px solid #000;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

#view-report {
    background: rgba(73, 65, 65, 0.14);
}

.links span{
    padding: 0 calc(.5*var(--grid-size));
    transition: all .3s ease;
}

.links a {
    text-decoration: none;
    color: #000;
    width: calc(5*var(--grid-size));
    text-align: right;
    padding: 0 calc(.25*var(--grid-size));
}


.links div:hover,
#view-report:hover {
    background-color: var(--tools-background);
}

.links div:hover span{
    transform: translateX(15px);
}



.next-project {
    grid-column: 1 / span 2;
    grid-row: 4;
    width: 100%;
    min-height: var(--grid-size);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-transform: uppercase;
    font-weight: 300;
    border-bottom: 1.5px solid black;
}

#next-project-link{
    display: flex;
    gap: 2ch;
    font-size: .8rem;
    transform: translateY(.5rem);
    padding: 0 calc(.15*var(--grid-size))
}





@media (max-width: 930px){

    .modal-window-container{
        padding: var(--grid-size);
    }
    .modal-window-content {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .close-modal{
        width: var(--grid-size);
        height: var(--grid-size);
        border: 2.5px solid #000;
    }

    .close-modal svg {
        width: calc(.5*var(--grid-size));
        height: calc(.5*var(--grid-size));
        stroke-width: 5px;
        transform: translateY(0);
    }

    .project-header{
        transform: translate(0);
        grid-column: 1;
        grid-row: 1;
        align-items: center;
        text-align: center;
    }

    .project-name {
        padding: 0 0 2px 0;
    }

    #project-type {
        margin-bottom: var(--grid-size);
    }

    .project-title{
        margin-top: var(--grid-size);
    }


    .class-name {
        justify-content: center;
        padding: 0;
    }

    .modal-img-container{
        grid-column: 1;
        grid-row: 2;
        transform: translateY(calc(-1*var(--grid-size)));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .project-description {
        grid-column: 1;
        grid-row: 3;
        text-align: center;
        transform: translateY(calc(-1.6*var(--grid-size)));
    }

    .tools {
        grid-column: 1;
        grid-row: 4;
        width: 80%;
        justify-content: center;
        align-items: center;
    }

    .tools h4 {
        padding: calc(.25*var(--grid-size));
    }

    .tools ul{
        transform: translateX(-20px);
        padding: calc(.25*var(--grid-size)) 0 calc(2*var(--grid-size)) 0;
    }



    .links {
        grid-column: 1;
        grid-row: 5;
        align-items: center;
    }

    .links span{
        display: none;
    }

    .next-project {
        grid-column: 1;
        grid-row: 6;
        margin-bottom: calc(3*var(--grid-size));
        text-align: center;
        align-items: center;
         border: none;
    }

    .next-project span{
       display: none;
    }

    #next-project-link{
        flex-wrap: wrap;
        justify-content: center;
        transform: translateY(-.25rem);
    }

}

@media (max-width: 370px) {
    .below-img-content{
        flex-wrap: wrap;
    }

    #class-name {
        font-size: .7rem;
    }

    .project-name h2{
        font-size: 1.5rem;
    }
}



